.top {
    background-color: #C0C0C0;
    display: flex;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.link {
    text-decoration: none;
    color: black;
}