@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
  margin: 0;
  font-family: 'PT Serif', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './components/top-bar/top-bar.css';
